    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
    {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
    {{ with .Site.LanguageCode }}<meta http-equiv="content-language" content="{{ . }}" />{{ end }}
    <!-- Facebook and Twitter integration -->
    {{ if not .Site.Params.OpenGraph.hide }}
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}">
    <meta property="og:url" content="{{ .Permalink }}">
    {{ end }}
    <!-- canonical link tag -->
    <link rel="canonical" href="{{ .Permalink }}"/>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    {{ $css := resources.Get "css/custom.css" | resources.Minify | resources.Fingerprint "sha512" }}
    <link rel="stylesheet" href="{{ $css.Permalink }}" >
